html {
	background-color: #011627;
	font-family: 'Playfair Display', serif;
	/* color: #fdfffc; */
	color: antiquewhite;
	height: 100%;
}

body {
	height: 100%;

	display: flex;
	flex-direction: column;
}

header {
	height: 15%;
	min-height: 100px;
	padding: 20px 20px;
	border-bottom: 3px solid antiquewhite;

	text-align: center;
	font-size: 48px;
	font-weight: 1000;
}

body {
	min-width: 800px;
	min-height: 600px;
}

.main-container {
	flex-basis: auto;
	flex-grow: 1;
	display: grid;
	grid-template-columns: 2fr 5fr;
}

.rooms-container {
	text-align: center;
	max-width: 70%;
	min-width: 350px;
}

.rooms-container h2 {
	font-size: 32px;
	text-align: center;
	margin: 20px auto;
}

li {
	display: block;
	width: 90%;
	min-width: 300px;
	height: 55px;

	margin: 10px auto 0;
	/* padding: 10px 10px 10px 0px; */
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 30px;

	box-shadow: 0 0 50px rgba(0, 0, 0, 0.327);

	text-align: left;
	font-size: 20px;
	font-weight: 500;
	background-color: rgba(255, 255, 255, 0.152);
}

li:hover {
	position: relative;
	z-index: 1;
	margin: 5px auto 0px;
	top: 5px;
	width: 93%;
	height: 60px;
	background-color: rgba(252, 252, 252, 0.242);
}

li:hover p {
	padding: 16px;
}

li p {
	display: block;
	padding: 14px;
	pointer-events: none;
}

li span {
	display: inline-block;
	width: 50%;
}

.room-name {
	padding-left: 30px;
}

.players-in-room {
	padding-right: 30px;
	text-align: right;
}

.username-form {
	position: relative;
}

.username-form h3 {
	display: block;
	width: 300px;
	height: 55px;

	border-radius: 55px 55px 0px 0px;

	margin: 50px 20px 0px 20px;
	padding: 12px 0 0 0;

	box-shadow: 0 0 50px rgb(0, 0, 0);

	text-align: center;
	font-size: 24px;

	background-color: rgb(35, 21, 21);
}

.username-form input {
	display: block;
	width: 300px;
	height: 55px;
	border-radius: 0px 0px 55px 55px;

	margin: 0px 20px 20px 20px;
	box-shadow: 0 0 50px rgb(0, 0, 0);

	font-size: 16px;
	text-align: center;
	background-color: antiquewhite;
}

.create-room-form input {
	display: block;
	width: 300px;
	height: 55px;

	border-radius: 55px 55px 0px 0px;

	margin: 50px 20px 0px 20px;

	box-shadow: 0 0 50px rgb(0, 0, 0);

	font-size: 16px;
	text-align: center;
	background-color: antiquewhite;
}

.create-room-form button {
	display: block;
	width: 300px;
	height: 55px;

	border-radius: 0 0 55px 55px;

	margin: 0px 20px 20px 20px;
	padding: 0 0 6px 0;

	box-shadow: 0 0 50px rgb(0, 0, 0);

	font-size: 24px;
	color: antiquewhite;
	background-color: #ffffff13;
}

button:hover {
	background-color: rgba(252, 252, 252, 0.242);
}

footer {
	flex-shrink: 0;
	height: 50px;
	margin-top: 20px;
	border-top: antiquewhite solid 3px;
}

.invalid-popup {
	width: 250px;
	height: 35px;

	position: absolute;
	z-index: 1;

	margin: 0 auto;
	padding: 5px;

	border: 2px solid red;
	border-radius: 25px;

	color: white;
	font-size: 16px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.34);
}

.username-popup {
	top: 115px;
	left: 40px;
}

.room-name-popup {
	top: 425px;
	left: 40px;
}
