html {
	background-color: #011627;
	font-family: 'Playfair Display', serif;
	color: #fdfffc;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	height: 15%;
	min-height: 80px;
	padding: 20px 0px;

	text-align: center;
	font-size: 48px;
	font-weight: 1000;
}

#turn-label {
	font-size: 24px;
	text-align: center;
}

.center-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.left-sidebar {
}

.right-sidebar {
}

.weight {
	flex-basis: auto;
	flex-grow: 1;
}

.stats {
}

.stats .players-label {
	margin: 50px auto;

	text-align: left;
}

li {
	margin: 30px auto 30px 10px;
	font-size: 24px;
}

li::marker {
	content: '';
}

li::before {
	content: '# ';
	margin: 30px auto 30px 10px;
}

.stats .buttons {
	margin: 100px auto 0 10px;
}

.buttons button {
	display: block;
	width: 70%;
	height: 55px;

	font-size: 24px;
	margin: 15px auto 15px 10px;
	border-radius: 30px;
}

.field {
	background-color: #fdfffc;
	display: grid;
	gap: 3px;
	grid-template-columns: repeat(3, 150px);
	grid-template-rows: repeat(3, 150px);

	margin: 20px auto;
}

.field button {
	background-color: #011627;
}

.field button:hover {
	background-color: #022848;
}

.cross {
	background-image: url('../assets/cross.svg');
	background-size: contain;
}

.circle {
	background-image: url('../assets/circle.svg');
	background-size: contain;
}
