html {
	background-color: #011627;
	font-family: 'Playfair Display', serif;
	color: #fdfffc;
	height: 100%;
}

.main-container {
	display: grid;
	grid-template-rows: 5fr 1fr;
}

.field {
	background-color: #fdfffc;
	display: grid;
	gap: 3px;
	grid-template-columns: repeat(3, 150px);
	grid-template-rows: repeat(3, 150px);

	margin: 50px auto;
}

.field button {
	background-color: #011627;
}

.field button:hover {
	background-color: #022848;
}

.cross {
	background-image: url('../assets/cross.svg');
	background-size: contain;
}

.circle {
	background-image: url('../assets/circle.svg');
	background-size: contain;
}
