html {
	background-color: #011627;
	font-family: 'Playfair Display', serif;
	color: antiquewhite;
	height: 100%;
}

body {
	min-width: 1000px;

	display: flex;
	flex-direction: column;
}

header {
	height: 15%;
	min-height: 80px;
	padding: 20px 0px;

	text-align: center;
	font-size: 48px;
	font-weight: 1000;
}

#turn-label {
	font-size: 24px;
	text-align: center;
}

.center-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;

	margin: 40px 0 0 0;
}

.left-sidebar {
}

.right-sidebar {
}

.weight {
	flex-basis: auto;
	flex-grow: 1;
}

.stats {
}

.stats .players-label {
	margin: 50px auto;

	text-align: left;
}

li {
	height: 40px;
	margin: 30px auto 30px 20px;
	padding: 6px 0 0 50px;
	font-size: 24px;
}

li::marker {
	content: '';
}

/* li::before {
	content: '# ';
	margin: 30px auto 30px 10px;
} */

li:first-child {
	background-image: url('../assets/cross.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

li:last-child {
	background-image: url('../assets/circle.svg');
	background-size: contain;
	background-repeat: no-repeat;
}

.stats .buttons {
	margin: 100px auto 0 10px;
}

.buttons button {
	display: block;
	width: 70%;
	height: 55px;

	font-size: 24px;
	margin: 15px auto 15px 10px;
	border-radius: 30px;

	background-color: antiquewhite;
}

.field {
	background-color: antiquewhite;
	display: grid;
	gap: 3px;
	grid-template-columns: repeat(3, 150px);
	grid-template-rows: repeat(3, 150px);

	margin: 20px auto;
}

.field button {
	background-color: #011627;
}

.field button:hover {
	background-color: #022848;
}

.cross {
	background-image: url('../assets/cross.svg');
	background-size: contain;
}

.circle {
	background-image: url('../assets/circle.svg');
	background-size: contain;
}

#end-game-popup {
	width: 50vw;
	height: 50vh;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: flex;
	flex-direction: column;
	justify-content: center;

	background: rgba(1, 37, 63, 0.821);
}

.winner-container {
	margin: auto;

	font-size: 64px;
}

.hide {
	visibility: hidden;
}

#player-joined-popup {
	width: 300px;
	height: 100px;

	position: absolute;
	top: 40px;
	left: 40px;

	display: flex;
	justify-content: center;

	border: 2px solid rgb(147, 145, 142);
	border-radius: 5px;

	box-shadow: 10px 10px 50px -10px black;

	background: rgba(1, 37, 63, 0.821);
}

#player-joined-username {
	display: inline-block;
	margin: auto;

	font-size: 24px;
	word-spacing: 10px;
}
